---
layout: base-layout.ejs
styles: event-layout.css
contactNumbers:
contactEmails:
links:
---

<div class="banner-image">
  <img src=<%= image %> />
</div>

<div class="banner-content">
  <%- content %>
</div>

<div class="contact-container">
  <% if (contactNumbers || contactEmails) {%>
    <h3>CONTACT DETAILS</h3>
    <h4>For any queries contact:</h4>
  <% } %>
  <% if (contactNumbers) {%>
    <p>
      <% contactNumbers.forEach(function(result){ %> 
        <i class="fas fa-phone"></i>
        <a target="_blank" href=<%= "tel:+91" + result.mobile %>><%= result.name %></a>: +91 <%= result.mobile %>
        <br >
      <% }) %>
    </p>
  <% } %>
  <% if (contactEmails) {%>
    <p>
      <% contactEmails.forEach(function(result){ %> 
        <i class="fas fa-envelope"></i>
        <a target="_blank" href=<%= "mailto:" + result.email %>><%= result.name %></a>: <%= result.email %>
        <br >
      <% }) %>
    </p>
  <% } %>
</div>

<div class="buttoncontainer">
  <% if (links) { %>
    <% links.forEach(function(result){ %>
      <a class="main-button" target="_blank" href=<%= result.link %>><%= result.name %></a>
    <% }) %>
  <% } %>
</div>
