---
layout: base-layout.ejs
title: Sponsors
styles: sponsors.css
tags: ["page"]
permalink: /sponsors/
---

<h2>Thanks for the funds!</h2>
<div class="sponsors-data">
<% sponsors.forEach((item) => { %>
<div class="sponsor-title">
  <span><%= item.title %></span>
</div>
<div class="sponsors-wrapper">
  <% item.sponsors.forEach((s) => { %> <img class="sponsor-img" src=<%=
  "/assets/images/sponsors/" + s.image %> alt=<%= s.name %> /> <% }) %>
</div>
<% }) %>
</div>

<section class="contact-for-sponsors">
<h3>Interested in sponsoring us?</h3>
Reach us at:<br />
<div class="contact-info">
  <a class="main-button" href=<%= "mailto:" + contact.sponsor_email %>><%= contact.sponsor_email %></a>
  <a class="main-button" href=<%= "tel:+91" + contact.sponsor_mobile %>><%= "CALL " + contact.sponsor_mobile %></a>
</div>
</section>

